.center01 {
	COLOR: #005cb2; LINE-HEIGHT: 20px
}
.center01 TD {
	COLOR: #005cb2; LINE-HEIGHT: 20px
}
.center01 A:link {
	COLOR: #005cb2; TEXT-DECORATION: none
}
.center01 A:visited {
	COLOR: #4c8dc9; TEXT-DECORATION: none
}
.center01 A:hover {
	COLOR: #005cb2; TEXT-DECORATION: underline
}
.left01 {
	COLOR: #331eb4
}
.left01 TD {
	COLOR: #331eb4
}
.left01 A:link {
	COLOR: #331eb4; TEXT-DECORATION: none
}
.left01 A:visited {
	COLOR: #331eb4; TEXT-DECORATION: none
}
.left01 A:hover {
	COLOR: #331eb4; TEXT-DECORATION: none
}
.left02 A:link {
	COLOR: #331eb4; TEXT-DECORATION: none
}
.left02 A:visited {
	COLOR: #331eb4; TEXT-DECORATION: none
}
.left02 A:hover {
	LEFT: 1px; COLOR: #331eb4; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
.left03 TD {
	COLOR: #6c10b4
}
.left03 A:link {
	COLOR: #6c10b4; TEXT-DECORATION: none
}
.left03 A:visited {
	COLOR: #6c10b4; TEXT-DECORATION: none
}
.left03 A:hover {
	LEFT: 1px; COLOR: #6c10b4; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
.center02 {
	COLOR: #1d790c; LINE-HEIGHT: 20px
}
.center02 TD {
	COLOR: #1d790c; LINE-HEIGHT: 20px
}
.center02 A:link {
	COLOR: #1d790c; TEXT-DECORATION: none
}
.center02 A:visited {
	COLOR: #6ca861; TEXT-DECORATION: none
}
.center02 A:hover {
	COLOR: #1d790c; TEXT-DECORATION: underline
}
A.center03:link {
	COLOR: #1d790c; TEXT-DECORATION: none
}
A.center03:visited {
	COLOR: #1d790c; TEXT-DECORATION: none
}
A.center03:hover {
	COLOR: #1d790c; TEXT-DECORATION: none
}
.center04 {
	COLOR: #905f16; LINE-HEIGHT: 21px
}
.center04 TD {
	COLOR: #905f16; LINE-HEIGHT: 21px
}
.center04 A:link {
	COLOR: #905f16; TEXT-DECORATION: none
}
.center04 A:visited {
	COLOR: #b18f5b; TEXT-DECORATION: none
}
.center04 A:hover {
	COLOR: #905f16; TEXT-DECORATION: underline
}
A.center05:link {
	COLOR: #905f16; TEXT-DECORATION: none
}
A.center05:visited {
	COLOR: #905f16; TEXT-DECORATION: none
}
A.center05:hover {
	COLOR: #905f16; TEXT-DECORATION: none
}
.center06 {
	COLOR: #bb4d28; LINE-HEIGHT: 20px
}
.center06 TD {
	COLOR: #bb4d28; LINE-HEIGHT: 20px
}
.center06 A:link {
	COLOR: #bb4d28; TEXT-DECORATION: none
}
.center06 A:visited {
	COLOR: #cf8268; TEXT-DECORATION: none
}
.center06 A:hover {
	COLOR: #bb4d28; TEXT-DECORATION: underline
}
A.center07:link {
	COLOR: #bb4d28; TEXT-DECORATION: none
}
A.center07:visited {
	COLOR: #bb4d28; TEXT-DECORATION: none
}
A.center07:hover {
	COLOR: #bb4d28; TEXT-DECORATION: none
}
.center08 {
	COLOR: #b02862; LINE-HEIGHT: 20px
}
.center08 TD {
	COLOR: #b02862; LINE-HEIGHT: 20px
}
.center08 A:link {
	COLOR: #b02862; TEXT-DECORATION: none
}
.center08 A:visited {
	COLOR: #c86891; TEXT-DECORATION: none
}
.center08 A:hover {
	COLOR: #b02862; TEXT-DECORATION: underline
}
A.center09:link {
	COLOR: #b02862; TEXT-DECORATION: none
}
A.center09:visited {
	COLOR: #b02862; TEXT-DECORATION: none
}
A.center09:hover {
	COLOR: #b02862; TEXT-DECORATION: none
}
.etd01 {
	COLOR: #1d790c; LINE-HEIGHT: 20px
}
.etd01 TD {
	COLOR: #1d790c; LINE-HEIGHT: 20px
}
.etd01 A:link {
	COLOR: #1d790c; TEXT-DECORATION: none
}
.etd01 A:visited {
	COLOR: #1d790c; TEXT-DECORATION: none
}
.etd01 A:hover {
	COLOR: #1d790c; TEXT-DECORATION: underline
}
.etd01 {
	BACKGROUND-POSITION: right bottom; BACKGROUND-REPEAT: no-repeat
}
.etd01 SELECT {
	COLOR: #1d790c
}
.etd02 {
	COLOR: #fe2093; LINE-HEIGHT: 20px
}
.etd02 TD {
	COLOR: #fe2093; LINE-HEIGHT: 20px
}
.etd02 A:link {
	COLOR: #fe2093; TEXT-DECORATION: none
}
.etd02 A:visited {
	COLOR: #fe2093; TEXT-DECORATION: none
}
.etd02 A:hover {
	COLOR: #fe2093; TEXT-DECORATION: underline
}
.etd02 SELECT {
	COLOR: #fe2093
}
.etd03 {
	COLOR: #005cb2; LINE-HEIGHT: 20px
}
.etd03 TD {
	COLOR: #005cb2; LINE-HEIGHT: 20px
}
.etd03 A:link {
	COLOR: #005cb2; TEXT-DECORATION: none
}
.etd03 A:visited {
	COLOR: #005cb2; TEXT-DECORATION: none
}
.etd03 A:hover {
	COLOR: #005cb2; TEXT-DECORATION: underline
}
.etd03 {
	BACKGROUND-REPEAT: repeat-x
}
.etd03 SELECT {
	COLOR: #005cb2
}
.et04 A:link {
	COLOR: #882c00; TEXT-DECORATION: none
}
.et04 A:visited {
	COLOR: #882c00; TEXT-DECORATION: none
}
.et04 A:hover {
	COLOR: #882c00; TEXT-DECORATION: underline
}
.et05 {
	COLOR: #eac382; LINE-HEIGHT: 20px
}
.et05 TD {
	COLOR: #eac382; LINE-HEIGHT: 20px
}
.et05 A:link {
	COLOR: #eac382; TEXT-DECORATION: none
}
.et05 A:visited {
	COLOR: #eac382; TEXT-DECORATION: none
}
.et05 A:hover {
	COLOR: #eac382; TEXT-DECORATION: underline
}
.etd06 {
	COLOR: #882c00; LINE-HEIGHT: 20px
}
.etd06 TD {
	COLOR: #882c00; LINE-HEIGHT: 20px
}
.etd06 A:link {
	COLOR: #882c00; TEXT-DECORATION: none
}
.etd06 A:visited {
	COLOR: #882c00; TEXT-DECORATION: none
}
.etd06 A:hover {
	COLOR: #882c00; TEXT-DECORATION: underline
}
.etd07 {
	COLOR: #905f16; LINE-HEIGHT: 20px
}
.etd07 TD {
	COLOR: #905f16; LINE-HEIGHT: 20px
}
.etd07 A:link {
	COLOR: #905f16; TEXT-DECORATION: none
}
.etd07 A:visited {
	COLOR: #905f16; TEXT-DECORATION: none
}
.etd07 A:hover {
	COLOR: #905f16; TEXT-DECORATION: underline
}
.etd08 {
	COLOR: #882c00; LINE-HEIGHT: 20px
}
.etd08 TD {
	COLOR: #882c00; LINE-HEIGHT: 20px
}
.etd08 A:link {
	COLOR: #882c00; TEXT-DECORATION: none
}
.etd08 A:visited {
	COLOR: #882c00; TEXT-DECORATION: none
}
.etd08 A:hover {
	COLOR: #882c00; TEXT-DECORATION: underline
}
.etd09 {
	COLOR: #c1d0d0; LINE-HEIGHT: 20px
}
.etd09 TD {
	COLOR: #c1d0d0; LINE-HEIGHT: 20px
}
.etd09 A:link {
	COLOR: #c1d0d0; TEXT-DECORATION: none
}
.etd09 A:visited {
	COLOR: #c1d0d0; TEXT-DECORATION: none
}
.etd09 A:hover {
	COLOR: #c1d0d0; TEXT-DECORATION: underline
}
.etd09 {
	BACKGROUND-REPEAT: no-repeat
}
.etd10 TD {
	COLOR: #684106; LINE-HEIGHT: 20px
}
.etd10 A:link {
	COLOR: #684106; TEXT-DECORATION: none
}
.etd10 A:visited {
	COLOR: #684106; TEXT-DECORATION: none
}
.etd10 A:hover {
	COLOR: #684106; TEXT-DECORATION: underline
}
.etd11 TD {
	COLOR: #6c10b4; LINE-HEIGHT: 20px
}
.etd11 A:link {
	COLOR: #6c10b4; TEXT-DECORATION: none
}
.etd11 A:visited {
	COLOR: #6c10b4; TEXT-DECORATION: none
}
.etd11 A:hover {
	COLOR: #6c10b4; TEXT-DECORATION: underline
}
.etd12 TD {
	COLOR: #1c6eb5; LINE-HEIGHT: 18px
}
.etd12 A:link {
	COLOR: #1c6eb5; TEXT-DECORATION: none
}
.etd12 A:visited {
	COLOR: #1c6eb5; TEXT-DECORATION: none
}
.etd12 A:hover {
	COLOR: #1c6eb5; TEXT-DECORATION: underline
}
.etd13 TD {
	COLOR: #975429; LINE-HEIGHT: 18px
}
.etd13 A:link {
	COLOR: #975429; TEXT-DECORATION: none
}
.etd13 A:visited {
	COLOR: #975429; TEXT-DECORATION: none
}
.etd13 A:hover {
	COLOR: #975429; TEXT-DECORATION: underline
}
.etd14 {
	COLOR: #bb4d28; LINE-HEIGHT: 20px
}
.etd14 TD {
	COLOR: #bb4d28; LINE-HEIGHT: 20px
}
.etd14 A:link {
	COLOR: #bb4d28; TEXT-DECORATION: none
}
.etd14 A:visited {
	COLOR: #bb4d28; TEXT-DECORATION: none
}
.etd14 A:hover {
	COLOR: #bb4d28; TEXT-DECORATION: underline
}
.etd15 {
	COLOR: #ca4e72; LINE-HEIGHT: 18px
}
.etd15 TD {
	COLOR: #ca4e72; LINE-HEIGHT: 18px
}
.etd15 A:link {
	COLOR: #ca4e72; TEXT-DECORATION: none
}
.etd15 A:visited {
	COLOR: #ca4e72; TEXT-DECORATION: none
}
.etd15 A:hover {
	COLOR: #ca4e72; TEXT-DECORATION: underline
}
.small2 {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
.big {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 22px
}
.finput {
	BORDER-RIGHT: #c3a4ff 1px solid; BORDER-TOP: #8147f2 1px solid; BORDER-LEFT: #8147f2 1px solid; BORDER-BOTTOM: #c3a4ff 1px solid
}
.finput2 {
	BORDER-RIGHT: #88bdf8 1px solid; BORDER-TOP: #3277dd 1px solid; BORDER-LEFT: #3277dd 1px solid; BORDER-BOTTOM: #88bdf8 1px solid
}
.finput3 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #555555 1px solid; BORDER-LEFT: #555555 1px solid; COLOR: #331eb4; BORDER-BOTTOM: #ffffff 1px solid
}
.finput4 {
	BORDER-RIGHT: #555555 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 30px; COLOR: #331eb4; BORDER-BOTTOM: #555555 1px solid; HEIGHT: 19px
}
.finput5 {
	BORDER-RIGHT: #ec804f 1px solid; BORDER-TOP: #7f1f10 1px solid; BORDER-LEFT: #7f1f10 1px solid; COLOR: #eac382; BORDER-BOTTOM: #ec804f 1px solid; BACKGROUND-COLOR: #b4402e
}
.finput6 {
	BORDER-RIGHT: #ec804f 1px solid; BORDER-TOP: #ec804f 1px solid; BORDER-LEFT: #ec804f 1px solid; BORDER-BOTTOM: #ec804f 1px solid; BACKGROUND-COLOR: #b4402e
}
.finput7 {
	BORDER-RIGHT: #b59b38 1px solid; BORDER-TOP: #b59b38 1px solid; BORDER-LEFT: #b59b38 1px solid; BORDER-BOTTOM: #b59b38 1px solid; BACKGROUND-COLOR: #fefadf
}
.finput8 {
	BORDER-RIGHT: #b1984b 1px solid; BORDER-TOP: #b1984b 1px solid; BORDER-LEFT: #b1984b 1px solid; COLOR: #882c00; BORDER-BOTTOM: #b1984b 1px solid; BACKGROUND-COLOR: #fff9e3
}
.finput9 {
	BORDER-RIGHT: #698b98 1px solid; BORDER-TOP: #555555 1px solid; BORDER-LEFT: #555555 1px solid; BORDER-BOTTOM: #698b98 1px solid; BACKGROUND-COLOR: #698b98
}
.finput10 {
	BORDER-RIGHT: #6c10b4 1px solid; BORDER-TOP: #6c10b4 1px solid; BORDER-LEFT: #6c10b4 1px solid; BORDER-BOTTOM: #6c10b4 1px solid; BACKGROUND-COLOR: #ffffff
}
.finput11 {
	BORDER-RIGHT: #6c10b4 1px solid; BORDER-TOP: #6c10b4 1px solid; BORDER-LEFT: #6c10b4 1px solid; BORDER-BOTTOM: #6c10b4 1px solid; BACKGROUND-COLOR: #ffffff
}
.finput12 {
	BORDER-RIGHT: #ffa613 1px solid; BORDER-TOP: #d26907 1px solid; BORDER-LEFT: #d26907 1px solid; BORDER-BOTTOM: #ffa613 1px solid; BACKGROUND-COLOR: #fffbb7
}
.img1 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.img2 {
	BORDER-RIGHT: #ebd0ff 1px solid; BORDER-TOP: #ebd0ff 1px solid; BORDER-LEFT: #ebd0ff 1px solid; BORDER-BOTTOM: #ebd0ff 1px solid
}
.img3 {
	BORDER-RIGHT: #e2e6f2 5px solid; BORDER-TOP: #e2e6f2 5px solid; BORDER-LEFT: #e2e6f2 5px solid; BORDER-BOTTOM: #e2e6f2 5px solid
}
.img4 {
	BORDER-RIGHT: #9ba7c5 1px solid; BORDER-TOP: #9ba7c5 1px solid; BORDER-LEFT: #9ba7c5 1px solid; BORDER-BOTTOM: #9ba7c5 1px solid
}
.img5 {
	BORDER-RIGHT: #e60047 1px solid; BORDER-TOP: #e60047 1px solid; BORDER-LEFT: #e60047 1px solid; BORDER-BOTTOM: #e60047 1px solid
}
.img6 {
	BORDER-RIGHT: #804b0f 1px solid; BORDER-TOP: #804b0f 1px solid; BORDER-LEFT: #804b0f 1px solid; BORDER-BOTTOM: #804b0f 1px solid
}
.img7 {
	BORDER-RIGHT: #ceaf6a 2px solid; BORDER-TOP: #ceaf6a 2px solid; BORDER-LEFT: #ceaf6a 2px solid; BORDER-BOTTOM: #ceaf6a 2px solid
}
.img8 {
	BORDER-RIGHT: #e6ddb9 2px solid; BORDER-TOP: #e6ddb9 2px solid; BORDER-LEFT: #e6ddb9 2px solid; BORDER-BOTTOM: #e6ddb9 2px solid
}
.img9 {
	BORDER-RIGHT: #ffffff 5px solid; BORDER-TOP: #ffffff 5px solid; BORDER-LEFT: #ffffff 5px solid; BORDER-BOTTOM: #ffffff 5px solid
}
.img10 {
	BORDER-RIGHT: #61abea 1px solid; BORDER-TOP: #61abea 1px solid; BORDER-LEFT: #61abea 1px solid; BORDER-BOTTOM: #61abea 1px solid
}
.bg1 {
	BACKGROUND-REPEAT: repeat-x
}
.bg2 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-REPEAT: repeat-x
}
.bg3 {
	BACKGROUND-REPEAT: no-repeat
}
.bg4 {
	BACKGROUND-POSITION: right bottom; BACKGROUND-REPEAT: no-repeat
}
.bg5 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-REPEAT: no-repeat
}
.bg6 {
	BORDER-RIGHT: #cd7ee9 1px solid; BORDER-TOP: #cd7ee9 1px solid; BORDER-LEFT: #cd7ee9 1px solid; BORDER-BOTTOM: #cd7ee9 1px solid; BACKGROUND-COLOR: #ffffff
}
.bg7 {
	BORDER-RIGHT: #ab54e8 1px solid; BORDER-TOP: #ab54e8 1px solid; BORDER-LEFT: #ab54e8 1px solid; COLOR: #6c10b4; BORDER-BOTTOM: #ab54e8 1px solid; BACKGROUND-COLOR: #ffffff
}
.bg7 A:link {
	COLOR: #e009c4; TEXT-DECORATION: none
}
.bg7 A:visited {
	COLOR: #e009c4; TEXT-DECORATION: none
}
.bg7 A:hover {
	COLOR: #e009c4; TEXT-DECORATION: none
}
.bg8 {
	BACKGROUND-POSITION: center 50%; BACKGROUND-REPEAT: no-repeat
}
.z1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #646464
}
.z2 {
	COLOR: #e09600; LINE-HEIGHT: 18px
}
.z3 {
	COLOR: #eac382; LINE-HEIGHT: 18px
}
.z4 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #331eb4
}
.z5 TD {
	COLOR: #6c10b4
}
TD.z6 {
	COLOR: #e009c4
}
TD.bai {
	COLOR: #ffffff; LINE-HEIGHT: 20px
}
.bai TD {
	COLOR: #ffffff; LINE-HEIGHT: 20px
}
.bai A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bai A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bai A:active {
	COLOR: #ffffff; LETTER-SPACING: 0px
}
.bai A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.bai2 TD {
	COLOR: #ffffff
}
.bai2 A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bai2 A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bai2 A:active {
	COLOR: #ffffff; LETTER-SPACING: 0px
}
.bai2 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.l01 {
	COLOR: #005cb2
}
.l01 TD {
	COLOR: #005cb2
}
.l01 A:link {
	COLOR: #005cb2; TEXT-DECORATION: none
}
.l01 A:visited {
	COLOR: #005cb2; TEXT-DECORATION: none
}
.l01 A:hover {
	COLOR: #4c8dc9; TEXT-DECORATION: underline
}
.dh A:link {
	COLOR: #c7fe7a; TEXT-DECORATION: none
}
.dh A:visited {
	COLOR: #c7fe7a; TEXT-DECORATION: none
}
.dh A:hover {
	COLOR: #c7fe7a; TEXT-DECORATION: underline
}
.pic A:hover {
	LEFT: 1px; POSITION: relative; TOP: 1px
}
.bai2 A:hover {
	LEFT: 1px; POSITION: relative; TOP: 1px
}
.tdca {
	CURSOR: hand
}
.tdcb {
	BACKGROUND-IMAGE: url(images/dh01.gif); CURSOR: hand; BACKGROUND-REPEAT: repeat-x
}
.tdcc {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(images/tcd04.gif); BACKGROUND-REPEAT: no-repeat
}
