/*************************************************
/* #Description: float "ydbase" div css
/* #Creation Date: 2005-12-8
/* #Generator: EditPlus2.12
/* #Author: wysl_8114@hotmail.com
/*******************************************************************************************************/
#ydbase table
{
	font-size:12px!important;
	font-style:normal!important;
	font-weight:normal!important;
	text-decoration:none!important;
	line-height:normal!important;
	letter-spacing:normal!important;
	word-spacing:normal!important;
	word-wrap:normal!important;
	border:0px solid!important;
	}
#ydbase td
{
	font-size:12px!important;
	font-style:normal!important;
	font-weight:normal!important;
	text-decoration:none!important;
	line-height:normal!important;
	letter-spacing:normal!important;
	word-spacing:normal!important;
	word-wrap:normal!important;
	}
#ydbase div
{
	font-size:12px!important;
	font-style:normal!important;
	font-weight:normal!important;
	text-decoration:none!important;
	line-height:normal!important;
	letter-spacing:normal!important;
	word-spacing:normal!important;
	text-align:left!important;
	word-wrap:normal!important;
	}
#ydbase font
{
	font-size:12px!important;
	font-style:normal!important;
	font-weight:normal!important;
	text-decoration:none!important;
	line-height:normal!important;
	letter-spacing:normal!important;
	word-spacing:normal!important;
	text-align:left!important;
	word-wrap:normal!important;
	}
#ydbase img
{
	border:0px solid!important;
	}
#ydbase a
{
	font-weight:normal!important;
	}
