* {
	padding: 0;
	margin: 0;
}
.search {
	background-color: #ededed;
	width: 680upx;
	height: 80upx;
	border-radius: 20upx;
	margin: 30upx auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: row;
	box-shadow: 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
	-20upx -20upx 30upx rgba(255,255,255,1);
	animation: search 1s;
}
@keyframes search{
	from{
		box-shadow: 0upx 0upx 0upx rgba( 0, 0, 0, 0.1),
		0upx 0upx 0upx rgba(255,255,255, 1),
		inset 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
		inset -20upx -20upx 20upx rgba(255,255,255,1);
	}
	to{
		box-shadow: 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
		-20upx -20upx 30upx rgba(255,255,255,1);
	}
}
.search_hover {
	background-color: #ededed;
	width: 680upx;
	height: 80upx;
	border-radius: 20upx;
	margin: 30upx auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: row;
	box-shadow: 0upx 0upx 0upx rgba( 0, 0, 0, 0.1),
	0upx 0upx 0upx rgba(255,255,255, 1),
	inset 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
	inset -20upx -20upx 20upx rgba(255,255,255,1);
	animation: search_after 1s;
}
@keyframes search_after{
	from{
		box-shadow: 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
		-20upx -20upx 30upx rgba(255,255,255,1);
	}
	to{
		box-shadow: 0upx 0upx 0upx rgba( 0, 0, 0, 0.1),
		0upx 0upx 0upx rgba(255,255,255, 1),
		inset 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
		inset -20upx -20upx 20upx rgba(255,255,255,1);
	}
}
.text {
	width: 100%;
	height: 100vh;
}
.content {
	height: 100%;
}
.placeholder {
	position: absolute;
	color: #aaaaaa;
	top:50upx;
	left: auto;
	opacity: 1;
	animation: place .5s;
}
@keyframes place{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.placeholder_hover {
	position: absolute;
	color: #aaaaaa;
	top:50upx;
	left: auto;
	animation: place_hover .5s;
	opacity: 0;
}
@keyframes place_hover{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.searchBar {
	height: 80upx;
	width: 560upx;
	border-radius: 20upx;
	padding: 0 20upx;
	line-height: 80upx;
	position: relative;
}
.searchBtn {
	width: 120upx;
	height: 80upx;
	text-align: center;
	color: #30c6b0;
	line-height: 80upx;
	text-align: center;
	display: inline-block;
	font-weight: 400;
	animation-name: fade;
	animation-duration: .5s;
	animation-timing-function: linear;
	transition: all .5s;
	z-index: 1;
}
@keyframes fade {
	    0% {
	        color: #ededed;
	    }
	
	    100% {
	        color: #30c6b0;
	    }
}
.searchBtn_hover {
	width: 120upx;
	height: 80upx;
	text-align: center;
	color: #ededed;
	line-height: 80upx;
	text-align: center;
	display: inline-block;
	font-weight: 400;
	animation-name: fade_hover;
	animation-duration: .5s;
	animation-timing-function: linear;
	transition: all .5s;
	z-index: 1;
}
@keyframes fade_hover {
	    0% {
	        color: #30c6b0;
	    }
	
	    100% {
	        color: #ededed;
	    }
}
.human-box {
	width: 680upx;
	height: 180upx;
	border-radius: 20upx;
	background-color: #efeeee;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	margin: 30upx auto;
	overflow: hidden;
	transition: all .2s ease-out;
	box-shadow: 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
	-20upx -20upx 30upx rgba(255,255,255,1);
}
.human-box-hover {
	width: 660upx;
	box-shadow: 0upx 0upx 0upx rgba( 0, 0, 0, 0.1),
	0upx 0upx 0upx rgba(255,255,255, 1),
	inset 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
	inset -20upx -20upx 20upx rgba(255,255,255,1);
	transition: all .2s ease-out;
}
.left {
	display: inline-block;
	width: 100upx;
	height: 180upx;
	padding: 40upx 0;
	position: relative;
}
.left_del {
	display: inline-block;
	width: 100upx;
	height: 180upx;
	padding: 40upx 0;
	position: relative;
	filter: blur(10upx);
	animation: del .7s;
}
.center {
	display: inline-block;
	width: 330upx;
	height: 180upx;
	color: #555555;
	padding: 40upx 0 40upx 0;
	position: relative;
}
.center_del {
	display: inline-block;
	width: 330upx;
	height: 180upx;
	color: #555555;
	padding: 40upx 0 40upx 0;
	position: relative;
	filter: blur(10upx);
	animation: del .7s;
}
.right {
	display: inline-block;
	width: 140upx;
	height: 180upx;
	padding: 40upx 0 40upx 0;
	position: relative;
}
.right_del {
	display: inline-block;
	width: 140upx;
	height: 180upx;
	padding: 40upx 0 40upx 0;
	position: relative;
	filter: blur(10upx);
	animation: del .7s;
}
@keyframes del{
	from{
		filter: blur(0upx);
	}
	to{
		filter: blur(10upx);
	}
}
.dot {
	width: 30upx;
	height: 30upx;
	border-radius: 15upx;
	background-color: #ff251e;
	text-align: center;
	line-height: 25upx;
	position: absolute;
	top: 30upx;
	left: 80upx;
	color: #ffffff;
	z-index: 1;
}
.popUp {
	width: 100%;
	height: 400upx;
	background-color: #ffffff;
	text-align: center;
	border-radius: 20upx;
	overflow: hidden;
}
.delPopUp {
	width: 550upx;
	height: 300upx;
	background-color: #ffffff;
	text-align: center;
	border-radius: 20upx;
	overflow: hidden;
}
.title {
	width: 100%;
	height: 78upx;
	border-bottom: 2upx solid #eee;
	line-height: 80upx;
}
.mid {
	width: 100%;
	height: 238upx;
	border-bottom: 2upx solid #eee;
}
.delMid {
	width: 550upx;
	height: 220upx;
	border-bottom: 2upx solid #eee;
}
.bottom {
	width: 100%;
	height: 80upx;
}
.delBottom {
	width:550upx;
	height: 80upx;
}
.refuse {
	width: 50%;
	background-color: #fff;
	height: 80upx;
	color: #000000;
	display: inline-block;
	border-radius: 0;
}
.refuse::after {
	border-radius: 0;
}
.allow {
	width: 50%;
	background-color: #4cd964;
	height: 80upx;
	color: #fff;
	display: inline-block;
	border: none;
	border-radius: 0;
}
.allow::after {
	border-radius: 0;
}
.delete {
	width: 100upx;
	height: 100upx;
	position: absolute;
	left: 290upx;
	z-index: 1;
	top:38upx;
	background-color: #efeeee;
	box-shadow: 20upx 20upx 30upx rgba( 0, 0, 0, 0.1),
	-20upx -20upx 30upx rgba(255,255,255, 1);
	color: #fff;
	font-size: 20upx;
	border-radius: 50upx;
}
.one {
	width: 64upx;
	height: 8upx;
	opacity: 1;
	transform: rotate(45deg);
	background-color: #e25a5a;
	animation: one .5s;
	position: absolute;
	top: 47%;
	left: 20%;
}
.one_hide {
	width: 64upx;
	height: 8upx;
	opacity: 0;
	transform: rotate(0deg);
	background-color: #e25a5a;
	position: absolute;
	top: 47%;
	left: 20%;
}
@keyframes one{
	from{
		opacity: 0;
		transform: rotate(0deg);
	}
	to{
		opacity: 1;
		transform: rotate(45deg);
	}
}
.two {
	width: 64upx;
	height: 8upx;
	opacity: 1;
	transform: rotate(135deg);
	background-color: #e25a5a;
	animation: two .5s;
	position: absolute;
	top: 47%;
	left: 20%;
}
.two_hide {
	width: 64upx;
	height: 8upx;
	opacity: 0;
	transform: rotate(90deg);
	background-color: #e25a5a;
	position: absolute;
	top: 47%;
	left: 20%;
}
@keyframes two{
	from{
		opacity: 0;
		transform: rotate(90deg);
	}
	to{
		opacity: 1;
		transform: rotate(135deg);
	}
}