<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-template [ngIf]="userAuth" [ngIfElse]="guestMenu">
        <a [routerLink]="['/editInfo', {from: from}]"><button mat-menu-item>修改个人信息</button></a>
        <a routerLink="/userList"><button mat-menu-item>查看用户列表</button></a>
      </ng-template>
      <ng-template #guestMenu>
        <a [routerLink]="['/login']"><button mat-menu-item>登陆帐号</button></a>
        <a [routerLink]="['/register']"><button mat-menu-item>注册帐号</button></a>
      </ng-template>
    </mat-menu>

    <a [routerLink]="['/']">{{title}}</a>
    <span class="example-spacer"></span>
    <a [routerLink]="['/editInfo', {from: from}]">
      <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
      </button>
    </a>
    <button *ngIf="userAuth else loginbutton" mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <ng-template #loginbutton>
      <a [routerLink]="['/login']">
        <button mat-icon-button>
          <mat-icon>login</mat-icon>
        </button>
      </a>
    </ng-template>
</mat-toolbar> 
<div class='content'>
<router-outlet></router-outlet>
</div>
<div class='footer'>
  <mat-card>
    <mat-card-content>
      融云 2020. App made by <a href="https://snorl.ax">Sim</a>
    </mat-card-content>
  </mat-card>
</div>