<mat-grid-list cols="3" rows="7" rowHeight="5.6:1">
    <mat-grid-tile colspan="1" rowspan="7">
        <mat-grid-tile-header>对话列表</mat-grid-tile-header>
        <div class="mat-list-container">
        <mat-list>
            <ng-template ngFor let-conv [ngForOf]="rongSer.conversationList" let-i="index">
                <mat-list-item (click)="changeCurCon(i)">
                    <div [matBadge]="conv.unreadMessageCount || null" mat-card-avatar [style]="'background-image: url(' + getAvatarUri(conv.targetId) + '); background-size: 100% auto;'"></div>
                    <span class='convPre'>
                        {{getTargetInfo(conv.targetId).nickname}}
                        <br />
                        {{conv.latestMessage.content.content}}
                    </span>
                    <span class='timeline'>{{singleListClock(conv.latestMessage.sentTime)}}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-template>  
        </mat-list>     
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="6">
        <mat-grid-tile-header>{{currentCon && currentCon.targetId && currentCon.targetId.length ? '与'+getTargetInfo(currentCon.targetId).nickname+'的对话' : '对话'}}</mat-grid-tile-header>
        <div class="conversationList" *ngIf="currentConMessages">
            <ng-template ngFor let-message [ngForOf]="currentConMessages">
              <ng-template [ngIf]="unreadLineStatus(message)">
                <mat-card id="unReadSep">
                    <mat-card-content>
                        <p>
                            以下是未读信息
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-divider></mat-divider>
              </ng-template>
              <mat-card [id]="'mes-'+message['MessageUID']" class='mes-message'>
                <mat-card-header>
                  <div mat-card-avatar [style]="'background-image: url(' + getAvatarUri(message.SenderUserID) + '); background-size: 100% auto;'">
                  </div>
                  <mat-card-title>{{message.SenderUserID == selfInfo()['userID'] ? selfInfo()['nickname'] : getTargetInfo(message.SenderUserID).nickname}}</mat-card-title>
                  <mat-card-subtitle>{{timeclock(message.SentTime)}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p [innerHTML]="message.Content.ContentHTML ? message.Content.ContentHTML : message.Content.Content">
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button *ngIf="ableToRecallEdit(message)" (click)="editTrigger(message)" mat-button>编辑</button>
                    <button *ngIf="ableToRecallEdit(message)" (click)="recallMessage(message)" mat-button>撤回</button>
                </mat-card-actions>
              </mat-card>
            </ng-template>            
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <button mat-icon-button (click)="uploadPic()">
            <mat-icon>insert_photo</mat-icon>
        </button>
        <form [formGroup]="messageForm" (ngSubmit)="onSub()" class="messageForm" (keydown)="keyDownForm($event)">
            <mat-form-field>
                <mat-label *ngIf="editToggle else enterField">编辑消息（Ctrl+Enter发送，支持Markdown）</mat-label>
                <ng-template #enterField>
                    <mat-label>输入消息（Ctrl+Enter发送，支持Markdown）</mat-label>
                </ng-template>
                <textarea formControlName="message" type="text" [errorStateMatcher]="matcher" matInput></textarea>
                <button type="submit" [disabled]="!messageForm.valid || !currentCon" mat-raised-button color="primary">发送</button>
            </mat-form-field>
        </form>
    </mat-grid-tile>
</mat-grid-list>
  